version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile        
    ports:
      - "8080:80"                   
    depends_on:
      - backend

  backend:
    build:
      context: ../mvp-arq-backend          
    ports:
      - "5000:5000"
    env_file:
      - ../mvp-arq-backend/.env